<section class="course-id">
  <a href="/">
    <img src="/assets/{{ include.image | default: site.acc.logo.image }}"
      width="{{ include.size | default: site.acc.logo.size }}"
      height="{{ include.height | default: site.acc.logo.height | default: site.acc.logo.size }}"
      title="{{ site.title }}" />
  </a>
  <a href="/segment/{{ session_data.segment }}">{{ site.acc.short_name }}</a>
</section>

<script defer>
  const e = document.querySelector('section.course-id');
  window.onscroll = () => {
    const top = window.pageYOffset;
    if (window.innerHeight + top >= document.body.offsetHeight - 2) {
      e.style.opacity = 1;
      e.style.top = 'unset';
      e.style.bottom = '70px';
    } else {
      e.style.top = '5px';
      e.style.bottom = 'unset';
      e.style.opacity = top > 100 ? 0.5 : 1;
    }
  }
</script>
