<section class="course-id">
  <a href="/">
    <img src="/assets/{{ include.image | default: site.acc.logo.image }}"
      width="{{ include.size | default: site.acc.logo.size }}"
      height="{{ include.height | default: site.acc.logo.height | default: site.acc.logo.size }}"
      title="{{ site.title }}" />
  </a>
  <a href="/segment/{{ session_data.segment }}">{{ site.acc.short_name }}</a>
</section>

<script defer>
  const e = document.querySelector('section.course-id');
  window.onscroll = () => {
    const top = window.pageYOffset;
    if (window.innerHeight + top >= document.body.offsetHeight - 2) {
      e.classList.add('bottom');
    } else if (top > 100) {
      e.classList.remove('bottom');
      e.classList.add('fixed');
    } else {
      e.classList.remove('fixed');
    }
  }
</script>
