<section class="center-align">
  <a href="/">
    <img src="/assets/{{ include.image | default: site.acc.logo.image }}"
      width="{{ include.size | default: site.acc.logo.size }}"
      height="{{ include.height | default: site.acc.logo.height | default: site.acc.logo.size }}"
      title="{{ site.title }}"/>
  </a>
  {%- if include.href %}
  <h4 class="special"><a href="{{ include.href }}">{{ include.title | default: site.title }}</a></h4>
  {% elsif include.title %}
  <h4 class="special" style="color: var(--color-theme); margin: 0 0 1em 0">{{ include.title }}</h4>
  {% else %}
  <h4 class="special">{{ include.title | default: site.title }}</h4>
  {% endif -%}
</section>
