@use "default" as *;

:root {
  --icon-logo:          #{$icon-logo};
  --icon-name:          #{$icon-name};

  --font-special:       #{$font-special};
  --font-mono:          #{$font-mono};
  --font-main:          #{$font-main};
  --font-secondary:     #{$font-secondary};
  --font-tertiary:      #{$font-tertiary};
  --font-samp:          #{$font-samp};

  --color-bg:           #{$color-bg};
  --color-fg:           #{$color-fg};
  --color-primary:      #{$color-primary};
  --color-secondary:    #{$color-secondary};
  --color-tertiary:     #{$color-tertiary};
  --color-link:         #{$color-link};
  --color-dark:         #{$color-dark};
  --color-theme:        #{$color-theme};
  --color-bullet:       #{$color-bullet};
  --color-row-odd:      #{$color-row-odd};
  --color-row-even:     #{$color-row-even};

  --color-card-fg:      #{$color-card-fg};
  --color-card-bg:      #{$color-card-bg};
  --color-code-bg:      #{$color-code-bg};

  --content-width:      #{$content-width};

  --grid-width:         #{$grid-width};
  --grid-image-height:  #{$grid-image-height};
  --grid-body-height:   #{$grid-body-height};
  --card-font-size:     #{$card-font-size};
  --samp-font-size:     #{$samp-font-size};
}

body {
  font-family: var(--font-main);
  font-size: 17px;
  line-height: 1.6;
  background-color: var(--color-bg);
  color: var(--color-fg);
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.5);
    border-radius: 6px;
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

hr {
  width: 300px;
  margin-bottom: 20px;
  margin-top: 40px;
  border-color: var(--color-bg);
}

a {
  color: var(--color-link);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-secondary);
  font-weight: normal;
  color: var(--color-secondary);
  line-height: 1;
}

h1 { font-size: 2.5em }
h2 { font-size: 2em }
h3 { font-size: 1.7em }
h4 { font-size: 1.4em }
h5 { font-size: 1.2em }
h6 { font-size: 1em }

.special {
  font-family: var(--font-special);
  text-align: center;
  color: var(--color-primary);
  margin: 10px 0 5px 0;
}

code, pre {
  font-family: var(--font-mono);
}

code {
  white-space: pre-wrap;
  color: var(--color-secondary);
  &.rounded {
    border-radius: 5px;
    margin: 0 3px;
    padding: 2px 5px;
  }
}

pre {
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  padding: 10px;
  box-sizing: border-box;
  code {
    color: inherit;
  }
}

sub, sup {
  font-size: small;
}
sup {
  vertical-align: 6px;
}
sub {
  vertical-align: 0px;
}

.md-18 { font-size: 18px; }
.md-24 { font-size: 24px; }
.md-36 { font-size: 36px; }
.md-48 { font-size: 48px; }
.md-disabled { color: rgba(0,0,0,0.6); }

@mixin margin-top() {
  margin-top: 100px;
}

@mixin align-middle() {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-align: center;
}
@mixin align-center() {
  display: flex;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
}

.middle-align {
  @include align-middle();
}

.center-align {
  @include align-center();
}

.spacer {
  margin-top: 100px;
}

.course-id {
  @include align-middle();
  font-family: var(--font-special);
  flex-direction: column;
  a {
    color: var(--color-theme);
    display: flex;
    margin: 0 5px;
  }
  & a:nth-child(2) {
    margin: 3px 0;
  }
  &.fixed {
    flex-direction: row-reverse;
    position: fixed;
    right: 5px;
    top: 5px;
    opacity: 0.8;
    img {
      transform: scale(0.6);
    }
    &.bottom {
      opacity: 1;
      bottom: 70px;
      top: unset;
    }
  }
}

footer {
  @include margin-top();
  @include align-center();
  color: var(--color-dark);
  font-size: 14px;
  ul {
    padding: 0;
    display: flex;
    li {
      @include align-middle();
      margin: 0 5px;
      a {
        color: var(--color-secondary);
      }
    }
  }
}

article {
  &.center {
    @include align-center();
  }
  &.center img {
    border-radius: 50%;
    object-fit: cover;
  }
  &.left img {
    float: left;
    object-fit: cover;
    margin: 5px 10px 0 0;
    display: inline-block;
  }
  &.tiles {
    ul {
      list-style-type: none;
      padding-inline-start: unset;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      li {
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        text-align: center;
        background-color: var(--color-theme);
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          color: var(--color-bg);
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-word;
        }
        sup {
          vertical-align: 3px;
        }
      }
    }
  }
}

