ul, ol {
  padding-inline-start: 2em;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  ul, ol {
    padding-inline-start: 1.2em;
  }
  blockquote {
    padding-left: 0.8em;
    margin-left: 0.2em;
    margin-right: 0.5em;
  }
}
ol ::marker, ul ::marker {
  color: var(--color-bullet);
}
ol > li {
  ul > li {
    list-style-type: initial;
  }
  ol > li {
    list-style: lower-alpha;
    ol > li {
      list-style: lower-greek;
    }
  }
}

ul > li > ul > li {
  list-style-type: initial;
  ul > li {
    list-style-type: initial;
  }
}

details {
  summary {
    cursor: pointer;
    list-style: none;
    &::-webkit-details-marker,
    &::marker {
      display: none;
    }
    &::before {
      content: "\25B6\FE0E";
      margin-right: 5px;
      font-size: 0.9em;
      color: var(--color-bullet);
    }
  }
  &[open] {
    summary {
      &::before {
        content: "\25BC\FE0E";
      }
    }
  }
}

details > *:not(summary) {
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; margin-top: -10px; }
  to   { opacity: 1; margin-top: 0;    }
}
