$icon-logo:             url('/assets/logo-icon.svg');
$icon-name:             'Material Symbols Outlined';

$font-main:             'Open Sans', sans-serif;
$font-mono:             'Share Tech Mono', monospace;
$font-special:          'Josefin Sans', sans-serif;
$font-secondary:        'Teko', sans-serif;
$font-tertiary:         'Lexend', sans-serif;
$font-samp:             $font-main;

$color-primary:         white;
$color-secondary:       floralwhite;
$color-tertiary:        #2cdd88;
$color-bg:              #3a3a3a;
$color-fg:              ivory;
$color-dark:            gray;
$color-link:            deeppink;
$color-theme:           #ffc100;
$color-bullet:          gray;

$color-row-odd:         #2a2a2a;
$color-row-even:        #2f2f2f;

$color-code-bg:         #222;
$color-card-bg:         whitesmoke;
$color-card-fg:         #444;

$card-font-size:        16px;
$samp-font-size:        inherit;

$content-width:         600px;

$grid-width:            180px;
$grid-image-height:     180px;
$grid-body-height:      initial;
