$size-width: 180px;
$size-height: 180px;

ul.grid {
  list-style-type: none;
  padding-inline-start: unset;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax($size-width, 1fr));
  clear: both;

  li {
    position: relative;
    text-align: center;
    .disabled {
      opacity: .7;
    }
  }
  img {
    object-fit: cover;
    width: 100%;
    height: $size-height;
  }
}
