@mixin boxed() {
  margin-top: 100px;
  border-radius: 5px;
  padding: 2px 5px;
  background-color: var(--color-code-bg);
}

article {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  word-break: break-word;
  &.max-width {
    max-width: var(--content-width);
  }
  h1, h2, h3, h4, .bubble-container {
    font-family: var(--font-special);
    margin-bottom: 0;
  }
  h1 {
    & + time {
      color: var(--color-dark);
      font-size: 15px;
    }
  }
  h1, h2, h3, h4 {
    & + * {
      margin-top: 0.5em;
    }
    & > code {
      font-size: 0.8em;
    }
  }
  code {
    @include boxed();
  }
  pre {
    margin: 0;
    width: 100%;
    overflow-x: auto;
    code {
      border: 0;
      background-color: inherit;
      border-radius: 0;
      padding: 0;
      margin: 0;
    }
  }
  p:has(> sub) {
    margin: 1em 0 0 0;
    sub {
      font-family: var(--font-special);
      color: var(--color-tertiary);
      font-size: 0.9rem;
    }
    & + h1, & + h2, & + h3, & + h4 {
      margin-top: 0;
    }
  }
  address {
    font-style: normal;
    font-family: var(--font-secondary);
    margin-top: 1.5em;
    font-size: 1.4em;
    a {
      color: var(--color-tertiary);
    }
  }
  .text > p:first-child {
    font-size: 25px;
    line-height: 1.3;
  }
  .tags {
    small {
      font-family: var(--font-secondary);
      color: var(--color-dark);
    }
  }
  .source {
    color: var(--color-dark);
    font-size: 13px;
    & > * {
      margin-left: 10px;
    }
  }
}

blockquote {
  border-left: 5px solid var(--color-dark);
  padding-left: 10px;
  margin: 0 10px 0 20px;
  font-family: var(--font-special);
  font-size: 19px;
  p {
    margin: 0;
  }
  & + blockquote {
    margin-bottom: 2em;
  }
}

samp {
  filter: blur(4px);
  font-family: var(--font-special);
  font-size: 18px;
  cursor: pointer;
  &.on {
    filter: none;
    color: var(--color-tertiary);
  }
}

.lesson-number {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 7px 5px 3px 5px;
  margin: 0 5px;
  background-color: var(--color-fg);
  font-family: var(--fontText);
  color: var(--color-bg);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 16px;

  &.current {
    background-color: var(--color-secondary);
  }
  &.material-symbols-outlined {
    font-size: 25px;
    padding: 5px;
    font-family: 'Material Symbols Outlined';
  }
}

a.lesson-number{
  color: var(--color-fg);
  background-color: var(--color-link);
}

@import
  "bullets",
  "table",
  "tab-colors",
  "paginator",
  "video";
