@mixin boxed() {
  margin-top: 100px;
  border-radius: 5px;
  padding: 2px 5px;
  background-color: var(--color-code-bg);
}

article {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  word-break: break-word;
  &.max-width {
    max-width: var(--content-width);
  }
  .bubble-container {
    margin-bottom: 0;
    font-family: var(--font-special);
  }
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.2em;
    font-family: var(--font-main);
  }
  h1, h2, h3 {
    font-weight: 300;
  }
  h4, h5, h6 {
    font-weight: 500;
  }
  h1 {
    & + time {
      color: var(--color-dark);
      font-size: 15px;
    }
  }
  h1, h2, h3, h4 {
    & + * {
      margin-top: 0.5em;
    }
    & > code {
      font-size: 0.8em;
    }
  }
  h2 { font-size: 2.0em; }
  h3 { font-size: 1.7em; }
  h4 { font-size: 1.4em; }
  h5 { font-size: 1.2em; }
  h6 { font-size: 1.1em; color: var(--color-dark); }

  code {
    @include boxed();
  }
  pre {
    margin: 0;
    width: 100%;
    overflow-x: auto;
    white-space: pre-wrap;
    code {
      border: 0;
      background-color: inherit;
      border-radius: 0;
      padding: 0;
      margin: 0;
      white-space: pre;
    }
  }
  p:has(> sub) {
    margin: 1em 0 0 0;
    sub {
      font-family: var(--font-special);
      color: var(--color-tertiary);
      font-size: 0.9rem;
    }
    & + h1, & + h2, & + h3, & + h4 {
      margin-top: 0;
    }
  }
  em {
    font-weight: 300;
  }
  address {
    font-style: normal;
    font-family: var(--font-secondary);
    margin-top: 1.5em;
    font-size: 1.4em;
    a {
      color: var(--color-tertiary);
    }
  }
  hr {
    &.section, &.logo {
      border: none;
      border-bottom: 1px solid var(--color-code-bg);
    }
    &.section {
      text-align: center;
      line-height: 0;
      height: 5px;
      font-size: 54px;
      overflow: visible;
      &:after {
        content: '\2055';
        display: inline;
        padding: 0 10px;
        color: var(--color-code-bg);
        background-color: var(--color-bg);
      }
    }
    &.logo {
      font-size: 0;
      &:after {
        content: var(--icon-logo);
        width: 20px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
        padding: 0 10px;
        background-color: var(--color-bg);
      }
    }
  }
  .text > p:first-child {
    font-size: 25px;
    line-height: 1.3;
  }
  .tags {
    small {
      font-family: var(--font-secondary);
      color: var(--color-dark);
    }
  }
  .source {
    color: var(--color-dark);
    font-size: 13px;
    & > * {
      margin-left: 10px;
    }
  }
}

blockquote {
  border-left: 2px solid var(--color-bullet);
  padding-left: 10px;
  margin: 0 10px 0 20px;
  font-weight: 300;
  p {
    margin: 0;
  }
  & + blockquote {
    margin-top: 10px;
  }
}

dl {
  font-weight: 300;
  dt {
    margin-top: 0.7em;
    font-weight: 500;
  }
  dd {
    margin-left: 1em;
  }
  &.poem dd {
    margin-right: 1em;
    padding-left: 1em;
    text-indent: -1em;
  }
}

samp {
  filter: blur(4px);
  font-family: var(--font-samp);
  font-size: var(--samp-font-size);
  cursor: pointer;
  &.on {
    filter: none;
    color: var(--color-tertiary);
  }
}

.lesson-number {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 7px 5px 3px 5px;
  margin: 0 5px;
  background-color: var(--color-fg);
  font-family: var(--fontText);
  color: var(--color-bg);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 16px;

  &.current {
    background-color: var(--color-secondary);
  }
  &.material-symbols-outlined {
    font-size: 25px;
    padding: 5px;
    font-family: 'Material Symbols Outlined';
  }
}

a.lesson-number{
  color: var(--color-fg);
  background-color: var(--color-link);
}

@import
  "bullets",
  "table",
  "tab-colors",
  "paginator",
  "video",
  "essential-audio";
