table {
  table-layout: fixed;
  tr:nth-child(odd) {
    background-color: var(--color-row-odd, '#2a2a2a');
  }
  th, tr:nth-child(even) {
    background-color: var(--color-row,even, '#2f2f2f');
  }
  td, th {
    word-break: normal;
    vertical-align: top;
    padding: 7px;
  }
}
