$color-odd: #2a2a2a;
$color-even: #2f2f2f;

table {
  table-layout: fixed;
  tr:nth-child(odd) {
    background-color: $color-odd;
  }
  th, tr:nth-child(even) {
    background-color: $color-even;
  }
  td, th {
    word-break: normal;
    vertical-align: top;
    padding: 7px;
  }
}
