$color-1: #005F73;
$color-2: #03989E;
$color-3: #CA6702;
$color-4: #EE9B00;
$color-5: #355691;
$color-6: #4073A0;
$color-7: #3C5A14;
$color-8: #598B2C;
$color-9: #5F0A87;
$color-10: #9D4EDD;
$color-11: #D81B60;
$color-12: #F06292;
$color-13: #3E2723;
$color-14: #795548;
$color-15: #C62828;
$color-16: #EF5350;
$color-17: #2E7D32;
$color-18: #66BB6A;
$color-19: #212529;
$color-20: #495057;

html {
  --c1: #{$color-1};
  --c2: #{$color-2};
  --c3: #{$color-3};
  --c4: #{$color-4};
  --c5: #{$color-5};
  --c6: #{$color-6};
  --c7: #{$color-7};
  --c8: #{$color-8};
  --c9: #{$color-9};
  --c10: #{$color-10};
  --c11: #{$color-11};
  --c12: #{$color-12};
  --c13: #{$color-13};
  --c14: #{$color-14};
  --c15: #{$color-15};
  --c16: #{$color-16};
  --c17: #{$color-17};
  --c18: #{$color-18};
  --c19: #{$color-19};
  --c20: #{$color-20};
}

@mixin paint($color) {
  background-image: linear-gradient(225deg, $color 50%, transparent 50%);
  border-top-color: $color;
  .control, .header {
    a {
      color: $color;
    }
    .button {
      background-color: $color;
    }
  }
  .body {
    .card-color {
      color: $color;
    }
    code, .due {
      color: white;
      background-color: $color;
    }
    .item:not(:first-child) {
      border-color: $color;
    }
  }
  &.current {
    .control {
      background-color: $color;
    }
  }
}

.c1 {
  @include paint($color-1);
}
.c2 {
  @include paint($color-2);
}
.c3 {
  @include paint($color-3);
}
.c4 {
  @include paint($color-4);
}
.c5 {
  @include paint($color-5);
}
.c6 {
  @include paint($color-6);
}
.c7 {
  @include paint($color-7);
}
.c8 {
  @include paint($color-8);
}
.c9 {
  @include paint($color-9);
}
.c10 {
  @include paint($color-10);
}
.c11 {
  @include paint($color-11);
}
.c12 {
  @include paint($color-12);
}
.c13 {
  @include paint($color-13);
}
.c14 {
  @include paint($color-14);
}
.c15 {
  @include paint($color-15);
}
.c16 {
  @include paint($color-16);
}
.c17 {
  @include paint($color-17);
}
.c18 {
  @include paint($color-18);
}
.c19 {
  @include paint($color-19);
}
.c20 {
  @include paint($color-20);
}
