// Overriding custom variables. See:
// https://github.com/beAuthentic/askclass-course-theme/blob/main/_sass/default.scss

// Example, to overwrite default bg/fg colors specified in the file above:
// @forward 'default' with ( $color-bg: black );
// @forward 'default' with ( $color-fg: white );

// Make grid boxes the same height (scrollable)
// @forward 'default' with ( $grid-body-height: 200px );
