// Overriding custom variables. See:
// https://github.com/beAuthentic/askclass-course-theme/blob/main/_sass/default.scss

// Example, to overwrite default bg/fg colors specified in the file above:
// @forward 'default' with (
//   $color-bg: black,
//   $color-fg: white,
//   $grid-body-height: 260px
// );
