.course-popup {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  .card-tab {
    max-width: 90%;
    width: 480px;
    max-height: 85vh;
    position: relative;
    height: inherit;
  }
}
