{% assign classes = site.data.common.index.classes %}

<div class="center-align">
  <a href="/"><img src="/assets/logo.svg" width="100" title="{{ site.title }}"/></a>

  <h1 class="special">{{ page.title }}</h1>
</div>

<ul>
  {% for class in classes %}
    {% assign item = site.data.common.index[class] %}
    {% assign count = site.data.common[class] | size %}
    <li class="card-tab c{{ forloop.index }}">
      <div class="top-bar">{{ item.title }}</div>
      <div class="tab">{{ count }}</div>
      <div class="header">&nbsp;</div>

      {% if count > 0 %}
        <div class="body">
          <h2><a href="/{{ page.collection }}/{{ class }}">{{ item.title }}</a></h2>
        </div>
      {% endif %}
    </li>
  {% endfor %}
</ul>
