{%- assign session_id = page.id | split: '/' | last -%}
{%- assign session_data = site.data.sessions[session_id] -%}
{%- assign segment_data = site.data.syllabus[session_data.segment] -%}
{%- if session_data.width != 'max' -%}
  {%- assign constraint = 'max-width' -%}
{%- endif -%}
{%- if session_data.type == 'Dialog' -%}
  {%- assign constraint = constraint | prepend: 'dialog ' -%}
{%- endif -%}

<!doctype html>
<html lang="en">
  {% include header.html %}
  <body>
    {% include logo_static.html size=50 height=50 %}
    {% include session/header.html %}

    <section class="center-align spacer content">
      <article class="{{ constraint }}">
        {%- include session/images.html images=session_data.images -%}
        {%- include session/points.html -%}
        {%- include session/videos.html videos=session_data.videos -%}
        {%- include session/sounds.html audio=session_data.audio -%}
        {{ content }}
        {%- if page.dialogue -%}
          {%- include session/conversation.html data=page.dialogue -%}
        {%- endif -%}
      </article>
    </section>

    {%- include session/paginator.html -%}
    {%- include session/content_revealer.html -%}
    {%- include footer.html -%}
    {%- include foot/mathjax.html -%}
    <script async src="/assets/js/essential-audio-player.js"></script>
    {%- if session_data.type == 'Dialog' -%}
      <script async src="/assets/js/word-click-handler.js"></script>
      {%- include word-click-handler.html -%}
      {%- include foot/popup.html -%}
    {%- endif -%}
  </body>
</html>
