{% assign session_id = page.id | split: '/' | last %}
{% assign session_data = site.data.sessions[session_id] %}
{% assign segment_data = site.data.syllabus[session_data.segment] %}

<!doctype html>
<html lang="en">
  {% include header.html %}
  <body>
    {% include logo_static.html size=30 height=30 %}
    {% include session/header.html %}

    <section class="center-align spacer content">
      <article>
        {% include session/points.html %}

        {% include session/videos.html videos=session_data.videos %}
        {{ content }}
      </article>
    </section>

    {% include session/paginator.html %}
    {% include session/content_revealer.html %}
    {% include footer.html %}
    {% include foot/mathjax.html -%}
  </body>
</html>
